/* -------------------- */
/*      Portfolio       */
/* -------------------- */

  .fake-body {
    width: 100%;
    background: red;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .card-container {
    padding: 0;
    margin: 0;
    list-style: none;

    position: relative;
    background: blue;
    width: 220px;
    margin: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .card {
    position: relative;
    background: green;
    margin: 10px;
    width: 220px;
    height: 200px;
  }

  .card-text {
    position: absolute;
    bottom: 0;
    background: pink;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
  }