ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white
    
  }
  
  li {
    float: right;
    border-right: 1px solid black;
  }

  li:last-child {
    border-right: none;
  }
  
  li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
/*            */
  img {
    float: left;
  }
  
  p.clear {
    clear: both;
  }

  header {
    
  }

  nav {
    float: right;
  }

  div.myName {
    display: inline-block;
    float: none;
    color: white;
    padding: 14px 16px;
    background-color: teal;
    
  }
  